{% import 'table.html' as table %}
{% extends "layout.html" %}
{% block title %}To-Do App{% endblock %}

{% block content %}
  <div class="jumbotron">
    <h1 class="display-4">To-Do App</h1>
    <p class="lead">Just another to-do app.</p>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2>Items</h2>
      <form class="mb-4 mt-4" action="{{ url_for('addNewItem') }}" method="post">
        <div class="input-group mb-3">
          <input type="text" class="form-control" type="text" name="addItemFormTitle" placeholder="Add new item">
          <div class="input-group-prepend">
            <button class="btn btn-outline-secondary" type="submit">Submit</button>
          </div>
        </div>
      </form>

      {{ table.tableComponent('To Do', view_model.to_do_items) }}

      {{ table.tableComponent('In Progress', view_model.in_progress_items) }}

      {{ table.tableComponent(view_model.completed_items.completed_text_label, view_model.completed_items.display_by_default) }}
      {% if view_model.completed_items.expand_to_display|length > 0 %}
      <ul class="list-group mb-4">
        <details>
          <summary>View More</summary>
          {{ table.tableComponent('', view_model.completed_items.expand_to_display) }}
        </details>
      </ul>
      {% endif %}
    </div>
  </div>
{% endblock %}